*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%), url(com.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ins{
    width: 370px;
    
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    text-align: center;
}

.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #56ee56;
}

.ins h2{
    color: #56ee56;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ins input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #56ee56;
    margin: 15px 0;
    padding: 5px;
    font-size: 15px;
    color: white;
    outline: none;
}

.ins input::placeholder{
    color: white;
}

.btnn{
    width: 100%;
    height: 45px;
    background: #56ee56;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btnn:hover{
    background: white;
    color: #8be48b;
}

/* Message */
.error{
    margin-top: 12px;
    color: red;
    font-size: 14px;
}

.success{
    margin-top: 12px;
    color: lightgreen;
    font-size: 14px;
}

/* Mobile Responsive */
@media (max-width: 768px){
    body{
        overflow: auto;
    }

    .ins{
        width: 95%;
        max-width: 370px;
    }
}
