*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%), url(com.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
   
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ins{
    width: 350px;
    
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    
}

.ins h2{
    color: #584dec;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ins input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #56ee56;
    margin: 15px 0;
    padding: 5px;
    font-size: 15px;
    color: white;
    outline: none;
}

    .btnn {
      width: 100%;
      height: 40px;
      background: #56ee56;
      border: none;
      font-size: 17px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      transition: 0.3s;
      margin-bottom: 15px;
    }

    .btnn:hover {
      background: white;
      color: #61ce61;
    }

   /* Mobile Responsive */
@media (max-width: 768px){
    body{
        overflow: auto;
    }

    .ins{
        width: 95%;
        max-width: 350px;
    }
}
  