
    body {
        
      scroll-behavior: smooth;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1)50%, rgba(0, 0, 0, 0.1)50%),url(com.jpg);

    }
    /* Blur effect */
    .blur-effect {
      filter: blur(6px);
      opacity: 1;
      pointer-events: none;
    }
    .hero {
      color: white;
      padding: 100px 20px;
      width: 100%;
      height: 100vh;           /* makes it cover the full screen */
      
      justify-content: center; /* centers horizontally */
      align-items: center;     /* centers vertically */
    
    }
    .container .par{
       font-size: 20px;
    }
    .container .g{
        gap: 15px;
    }
    h1{
        font-size: 90px;
    }
    .btn {
      
      border: none;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      color: white;
    }

    .btn:hover {
      
      color: #56ee56;
    }
   
    .benefit-card {
      box-shadow: 0 4px 10px rgba(26, 24, 24, 0.1);
      border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .benefit-card:hover{
        background-color: #0d0f0d;
        color: white;
    }
    footer {
      color: white;
    }
.benefit-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

    
.icon {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    /* LOGO SPACE */
    .logo-box {
      width: 45px;
      height: 45px;
      border-radius: 10px;
      border: 2px solid #56ee56;
      background: rgba(255, 255, 255, 0.1);
    }

    
    .logo {
      color: #56ee56;
      font-size: 35px;
      font-weight: bold;
    }
 .btn-area {
      padding-left: 45px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .cn {
      width: 90px;
      height: 30px;
      background: #56ee56;
      border: none;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      color: white;
    }

    .cn:hover {
      background: white;
      color: #56ee56;
    }
    /* LOGIN MODAL */
    #loginModal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.6);
      z-index: 999;
      padding: 20px;
    }
    /*Role Modal*/
    #roleModal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.6);
      z-index: 999;
      padding: 20px;
    }
    .form {
      width: 320px;
      max-width: 100%;
      border-radius: 15px;
      padding: 25px;
      border: 2px solid #56ee56;
    }

    .form h2 {
      text-align: center;
      color: ;
      background: white;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
    }

    .form input {
      width: 100%;
      height: 40px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #56ee56;
      color: white;
      margin-bottom: 20px;
      font-size: 15px;
      outline: none;
    }

    .btnn {
      width: 100%;
      height: 40px;
      background: #56ee56;
      border: none;
      font-size: 17px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      transition: 0.3s;
      margin-bottom: 15px;
    }

    .btnn:hover {
      background: white;
      color: #61ce61;
    }

    .link {
      text-align: center;
      font-size: 15px;
      margin-top: 10px;
    }

    .link a {
      color: #56ee56;
      text-decoration: none;
      font-weight: bold;
    }